<div class="menu-container">
  <ul class="menu">
    <li><a href='/'><span id="logo">TeamChat</span></a></li>
    <li><a href=#problem>Problem</a></li>
    <li><a href=#solution>Solution</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
  </ul>
</div>
<div class="home-container section">
  <div class="home">
    <div class="home-text">
      <h1>INTRODUCTION</h1><br />
      <p>
        Ever work at a workplace where teams seem so segregated that it often feels more like many smaller unique companies within one big company?  Or think back then when you were that new intern with all these questions, but was not sure who to ask?  It doesn't stop there, we've all been in that situation where you've got a question, but it seems like something you should know - so you hesitate.  Or maybe your stuck on that never ending chain of "go ask this person" or "have you talked to this person", somebody out there knows...but who?<br /><br />

        Fact is we've all faced this situation at some point or another.  Not only does this hurt productivity and efficiency, but it creates divisions throughout a company, which can harm team collaboration and innovation, project management, and prevent knowledge transfer from one group to the next.<br /><br />

        TeamChat is a messenging application used to, not change your company or work culture, but instead, help unify existing ones and provide more opportunities for collaboration and interaction.  Keep reading to find out what makes our application so special!
      </p>
    </div>
  </div>
</div>
<div class="problem-container section" id="problem">
  <div class="problem">
    <div class="problem-text1">
      <h1>PROBLEM</h1><br />
      <p>
        Companies split up into multiple subteams generally show a decrease in interaction and collaboration with one another.  It's like having a bunch of small mini companies within one big company.  You lose knowledge transfer from one team to the next.
      </p>
    </div>
    <div class="chart-container">
      <canvas id="turnOver"></canvas>
    </div>
    <div class="problem-text2">
      <p>
        When companies get bigger, you generally don't get to know everyone.  So when you're stumped with a problem, it's hard to know who to ask... you know someone out their can help you, but who exactly?
      </p>
      <br />
      <p>
        We've all been in the shoes of asking... not so great questions or having to go ask THAT person over there for help when we don't want to.  Personalities can be a day to day challenge.
      </p>
    </div>
  </div>
</div>
<div class="solution-container section" id="solution">
  <div class="solution">
    <div class="solution-text">
      <h1>SOLUTION</h1><br />
      <p>
        TeamChat is an anonymous messaging application that can solve these issues.  The application is only anonymous when in a channel (group chat), otherwise you are made known in 1on1 conversations.<br /><br />

        The idea is to organize channels in groups that would be helpful.  This would probably be most applicable to large teams such as engineering teams.  A company may have 50 engineers split up into 8 smaller individual teams.  It would be beneficial to have 1 channel with all 50 engineers in one so that questions and problems can pool on the knowledge of the entire team.  Thus inducing more collaboration and interaction which would result in an increase in efficiency and employee satisfaction.<br /><br />

        Interns, new employees, and anyone really would be able to have their problems and questions answered in seconds without fear of being embarassed.
      </p>
    </div>
    <div class="stats">
    </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
  </div>
</div>
