/* Global */
html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}

/* Header */

.header-container {
  display: flex;
  justify-content: center;
  background-color: #dfe4ea;
}

/* Menu */

.menu-container {
  position: fixed;
}

.menu {
  position: relative;
  left: 36px;
  top: 36px;
  font-size: 18px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 36px;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

#logo {
  font-family: "Bungee Shade", cursive;
  font-size: 48px;
  vertical-align: middle;
  color: #1e90ff;
}

/* Section - Global */

.section {
    min-height: 100vh;
}

.chart-container {
  width: 300px;
  height: 300px;
  margin-left: 50px;
}

h1 {
  font-size: 24px;
}
/* Section - Home */

.home-container {
  background-color: #dfe4ea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home {
  width: 400px;
  margin-left: 400px;
}

.home-text {
  margin-top: 124px;
  margin-bottom: 36px;
  color: #57606f;
}

/* Section - Problem */

.problem-container {
  background-color: #57606f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.problem {
  width: 400px;
  margin-left: 400px;
  display: flex;
  flex-wrap: wrap;
}

.problem-text1 {
  margin-top: 36px;
  margin-bottom: 36px;
  color: #f1f2f6;
}

.problem-text2 {
  margin-top: 36px;
  margin-bottom: 36px;
  color: #f1f2f6;
}

.problem-text3 {
  margin-top: 36px;
  margin-bottom: 36px;
  color: #f1f2f6;
}

/* Section - Solution */

.solution-container {
  background-color: #dfe4ea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.solution {
  width: 400px;
  margin-left: 400px;
}

.solution-text {
  margin-top: 36px;
  margin-bottom: 36px;
  color: #57606f;
}

/* Form - signup */

.signup-container {
  background-color: #dfe4ea;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: 36px;
}

.form-group {
  margin: 24px;
  color: #57606f;
}

#signup-button {
  width: 324px;
  height: 48px;
  color: #f1f2f6;
  background-color: #ff6b81;
  border: 4px solid #ff4757;
  border-radius: 12px;
}

input {
  height: 36px;
  padding: 12px;
  border: 2px solid #1e90ff;
  border-radius: 12px;
  outline: none;
}

::placeholder {
  color: #a4b0be;
}

/* Form - login */

.login-container {
  background-color: #dfe4ea;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-button {
  width: 324px;
  height: 48px;
  color: #f1f2f6;
  background-color: #ff6b81;
  border: 4px solid #ff4757;
  border-radius: 12px;
}

/* Flash Messages */
.flash-container {
  height: 60px;
  text-align: center;
  background-color: #ffeaa7;
  color: #d63031;
  line-height: 60px;
  vertical-align: middle;
  margin: 24px;
  border: 4px solid #ff6348;
}

/* Styles for chat */
#messages {
  height: 65vh;
  border: 4px solid #ff7f50;
  margin: 12px;
  border-radius: 24px;
  background-color: #f1f2f6;
  padding: 8px;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
  background-color: #70a1ff;
  height: 100%;
}

.info-container {
  flex-grow: 1;
  text-align: center;
  background-color: #f1f2f6;
  margin: 36px;
  border: 8px solid #747d8c;
  border-radius: 24px;
}
.message-container {
  flex-grow: 10;
  margin: 36px;
  border: 8px solid #ff6b81;
  border-radius: 24px;
  background-color: #eccc68;
  padding: 4px;
}

.logo-container {
  margin: 24px;
}

#profile-logo {
  font-family: "Bungee Shade", cursive;
  font-size: 36px;
  vertical-align: middle;
  color: #1e90ff;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.change-user {
  text-align: center;
  margin: 4px;
}

.clear-btn {
  text-align: center;
}

#clear {
  margin: 4px 12px;
  border: 4px solid #ff4757;
  width: 60px;
  background-color: #ffa502;
  border-radius: 8px;
  color: #ffffff;
}

.typearea {
  text-align: center;
}

#textarea {
  margin: 4px;
  border: 4px solid #ff7f50;
  height: 100px;
}

textarea:focus {
  outline: none;
  padding: 4px;
}

#username {
  border: 4px solid #ff7f50
}
