<div class="profile-container">

  <div class="info-container">
    <div class="logo-container">
      <a href='/'><span id="profile-logo">TeamChat</span></a>
    </div>
    <div class="user-container">
      <div id="loggedInUser" data-userid="{{user._id}}">{{user.firstname}} {{user.lastname}} <a href="/logout">LogOut</a></div>
      <hr>
      <ul id="users">
        <li class="users-li active" id="chatbot">Chat Bot</li>
      </ul>
    </div>
  </div>

  <div class="message-container">
    <div id="status"></div>
    <div id="chat">
      <div class="change-user">
        <input type="text" id="username" placeholder="Enter name...">
      </div>
      <div class="clear-btn">
        <button id="clear">Clear</button>
      </div>
      <div>
        <div id="messages"></div>
      </div>
      <div class="typearea">
        <textarea type="text" id="textarea" placeholder="Enter message..."></textarea>
      </div>
    </div>
  </div>

</div>
